.wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-width: 800px;
}

.chart {
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    text-align: center;
}

.description {
    text-align: center;
    color: #333;
    padding-bottom: 20px;
}
